.category {
    cursor: pointer;
    background-color: rgb(240, 240, 240);
    transition: 0.4s;
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 250px;
    min-height: 50px;
    border-left: 1px solid rgb(230, 230, 230);
    border-right: 1px solid rgb(230, 230, 230);
}

.category:hover {
    background-color: rgb(222, 222, 222);
    transition: 0.4s;
}

.categories {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-grow: 1;
}

a {
    color: rgb(66, 66, 66);
    text-decoration: none;
}

.head {
    background-color: rgb(242, 242, 242);
    display: flex;
    font-weight: 900;
    min-width: 100px;
    min-height: 50px;
    align-items: center;
    justify-content: space-around;
    transition: 0.4s;
    border-right: 1px solid rgb(230, 230, 230);
    border-left: 1px solid rgb(230, 230, 230);
}

.head:hover {
    background-color: rgb(222, 222, 222);
    transition: 0.4s;
    cursor: pointer;
}