.welcome-content {
    background: linear-gradient(#404243, #d7dadc);
}

header {
    display: flex;
    flex-direction: row;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 55px;
    background-color: #3c3e41;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    z-index: 100;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(175, 175, 175);
}

main {
    margin-top: 60px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.block {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    background-color: #232324;
    color: rgb(200, 200, 200);
}

.name {
    color: #4d8973;
}

.main-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-width: 350px;
}

.header-link {
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-width: 100px;
    height: 50px;
    border-radius: 15px;
    transition: 0.2s;
    user-select: none;
    font-weight: 600;
}

.header-link:hover {
    color: rgb(80, 80, 80);
    transition: 0.2s;
    background-color: rgb(175, 175, 175);
    cursor: pointer;
}

.before {
    visibility: visible;
    transition: 0.1s;
}

.end {
    border-bottom: 1px solid rgb(150,150,150);
}

.before1 {
    transform: none;
    top: 0;
    transition: 0.2s;
}

.before2 {
    transform: none;
    bottom: 0;
    transition: 0.2s;
}

.after {
    visibility: hidden;
    transition: 0.1s;
}

.after1 {
    transform: rotate(45deg);
    top: 5.5px;
    transition: 0.2s;
}

.after2 {
    transform: rotate(-45deg);
    bottom: 5.5px;
    transition: 0.2s;
}

.ml {
    display: block;
    position: relative;
    width: 15px;
    height: 2.5px;
    background-color: #e4e4e4;
    margin-bottom: 3px;
}

.btn {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    transition: 0.3s;
    min-width: 50px;
    height: 55px;
    user-select: none;
}

.btn:hover {
    transition: 0.3s;
    background-color: #545557;
    cursor: pointer;
}

.right-menu {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.right {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100%;
}

.search {
    background-color: #3c3e41;
    border: 1.5px solid #d4d4d4;
    border-radius: 15px;
    color: white;
    padding: 5px;
    padding-left: 10px;
    transition: 0.3s;
}

.search:hover {
    background-color: #5b5d60;
    transition: 0.3s;
}

.search:focus {
    outline: none;
}

.menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    top: 55px;
    left: 0px;
    background-color: #48494b;
    height: 100%;
    min-width: 200px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    left: 0px;
    transition: 0.3s;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
    z-index: 50;
}

.menu-contents {
    display: block;
    width: 100%;
}

.menu-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    min-height: 40px;
    user-select: none;
    color: white;
}

.menu-content:hover {
    background-color: #6e6f71;
    font-weight: 600;
    cursor: pointer;
}

.hidden {
    left: -200px;
    transition: 0.3s;
}
.something {
    transition: 0.3s; 
    color: black;
    background-color: rgb(245,245,245);
}

.something:hover {
    transition: 0.3s;
    cursor: pointer;
    background-color: rgb(210,210,210);
}

.news {
    display: flex;
    flex-direction: column;
}

.days {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-weight: 600;
}

.day {
    border: none;
    font: Calibri;
    border-bottom: 1px solid rgb(175, 175, 175);
    border-left: 1px solid rgb(175, 175, 175);
    border-right: 1px solid rgb(175, 175, 175);
    min-width: 150px;
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.nothing, .something {
    border: 1px solid rgb(175, 175, 175);
    min-width: 150px;
    min-height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.column {
    display: flex;
    flex-direction: column;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.left, .x {
    border: none;
    display: flex;
    flex-direction: column;
    font-weight: 600;
    font-size: 13px;
    min-width: 50px;
    min-height: 50px;
    top: 5px;
    float: right;
    user-select: none;
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
}

.x {
    border-top: none;
}

.time {
    font-size: 12px;
    font-weight: 600;
}

.i {
    font-weight: 600;
}

#line {
    width: 150px; 
    height: 3px;
    position: relative;
    z-index: 10;
    user-select: none;
}

.new {
    border-bottom: 1px solid rgb(200,200,200);
}

.new:hover {
    background-color: rgb(150,150,150);
    color: rgb(50, 50, 50);
    cursor: pointer;
}