<div [class.hidden]="!u" class="welcome-content" id="welcome">
    <div class="m">
        <div class="menu block" onclick="
            if(document.getElementById('sh').classList.contains('hidden'))
            {
                document.getElementById('sh').classList.remove('hidden');
                document.getElementById('x1').classList.remove('before1');
                document.getElementById('x').classList.remove('before');
                document.getElementById('x2').classList.remove('before2');
                document.getElementById('x1').classList.add('after1');
                document.getElementById('x').classList.add('after');
                document.getElementById('x2').classList.add('after2');
            }
            else
            {
                document.getElementById('sh').classList.add('hidden');
                document.getElementById('x1').classList.remove('after1');
                document.getElementById('x').classList.remove('after');
                document.getElementById('x2').classList.remove('after2');
                document.getElementById('x1').classList.add('before1');
                document.getElementById('x').classList.add('before');
                document.getElementById('x2').classList.add('before2');
                
            }
        ">

        <div class="first">
            <span class="ml before1" id="x1"></span>
            <span class="ml before" id="x"></span>
            <span class="ml before2" id="x2"></span>
        </div>

        </div>
    
        <div class="last hidden" id="sh">
            <span class="o f">Main Menu</span>
            <span class="o">Attestation</span>
            <span class="o">Courses</span>
            <a routerLink="/files" style="text-decoration: none; color: inherit;">
                <span class="o">Files</span>
            </a>
            <span class="e o" onclick="document.cookie='userPassword=;expires=Thu; 01 Jan 1970; path=/'; location.reload()">Log out</span>
        </div>
    </div>

    <header id="background">
        <h1>{{ title }}, {{ u.name }}</h1>
    </header>

    <main>
        <h2>News</h2>
        <div class="news block">
            <div class="new" *ngFor="let n of news">
                <h3> {{ n.title }} </h3>
                <h4> {{ n.body }} </h4>
            </div>
        </div>

        <h2>Schedule</h2>
        <div class="schedule block">
            <div class="days">
                <div class="x">

                </div>
                <div class="day"  [style]="0 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Пн
                </div>
                <div class="day"  [style]="1 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Вт
                </div>
                <div class="day"  [style]="2 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Ср
                </div>
                <div class="day"  [style]="3 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Чт
                </div>
                <div class="day"  [style]="4 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Пт
                </div>
                <div class="day"  [style]="5 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Сб
                </div>
                <div class="day"  [style]="6 == day ? 'background-color: rgb(225,225,225)' : ''">
                    Вс
                </div>
            </div>
            <div class="column">
                <div *ngFor="let y of bnums" class="row">
                    <div class="left" [style]="y + 8 == hour ? 'background-color: rgb(225,225,225)' : ''">
                        <span>
                            {{y+8}} : 00 
                        </span>
                    </div>

                    <div *ngFor="let x of anums" class="object">
                        <div *ngIf="!sch[y][x]" class="nothing" [style]="x == day && y + 8 == hour ? 'background-color: rgb(225,225,225)' : ''">
                            <div *ngIf="x == day && y + 8 ==  hour">
                                <img id="line" src="assets/images/line.png" aria-readonly="true" alt="" [style]="'top: ' + (min / 1.143 - 30) + 'px'"/>
                            </div>
                        </div>
                        <div *ngIf="sch[y][x]" class="something" [style]="x == day && y + 8 == hour ? 'background-color: rgb(144,174,210); font-weight: 600' : ''">
                            <span class="i">{{ sch[y][x].name }}</span>
                            <span class="i">{{ sch[y][x].room }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <footer class="foot">
        <div>
            <span>Copyrigths ©</span>
        </div>
    </footer>
</div>