<div>

  <h3>
    <a [href]="product.link" [title]="product.name + ': ' + product.id">
      {{ product.name }}
    </a>
  </h3>

  <h2>
    {{ product.price + " P" }}
  </h2>
  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  
  <div id="Image">
    <img [src]="product.gallery[0]" height="320px" [id]="product.id"/>
  </div>
  <ul>
    <li *ngFor="let image of product.gallery">
      <img [src]=image height="50px" [alt]=product.name (click)="showImage(image)">
    </li>
  </ul>
  
    <button (click)="share()" >
      <a [id]="product.id + 'l'">Share with Telegram</a>
    </button>
</div>