<div id="Item">

  <h3>
    <a [href]="product.link" [title]="product.name + ': ' + product.id" target="_blank">
      {{ product.name }}
    </a>
  </h3>

  <p *ngIf="product.description">
    Description: {{ product.description }}
  </p>
  
  <h2>
    {{ product.price + " " + product.currency }}
  </h2>
  
  <div id="Image">
    <img [src]="product.gallery" height="320px" [id]="product.id"/>
  </div>

  <ul>
    <li *ngFor="let image of product.gallery">
      <img [src]=image height="50px" [alt]=product.name (click)="showImage(image)">
    </li>
  </ul>

  <a [id]="product.id + 'l'" target="_blank">
    <button (click)="share()" >
      Share with Telegram
    </button>
  </a>

</div>