li {
    padding: 1px 1px 1px 1px;
    display: inline-block;
    vertical-align: middle;
    cursor: pointer;
    box-sizing: border-box;
    margin-left: 20px;
}

ul {
    margin-right: 55px;
}

li img {
    border-radius: 5px;
    border: 2px solid rgb(195,195,195);
    transition: 0.4s linear;
}

#Image img {
    border-radius: 10px;
    border: 2px solid rgb(195,195,195);
    transition-duration: 1s;
}

#Image img:hover {
    transition-duration: 1s;
    height: 600px;
}

li img:hover {
    border: 2px solid rgb(61, 44, 44);
    transition: 0.4s linear;
}

#Item {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-around;
}

h3 a{
    font-family: Calibri Light;
    color: black;
    transition: 0.4s;
    border-radius: 3px;
    border: 1px solid rgb(195,195,195);
}

a {
    text-decoration: none;
}

h3 a:hover {
    font-weight: 800;
    background-color: rgb(195,195,195);
    transition: 0.4s;
}

button {
    display: inline-flex;
    align-items: center;
    font-family: Calibri;
    padding: 8px 16px;
    border-radius: 10px;
    font-size: 14px;
    cursor: pointer;
    background-color: #1976d2;
    color: white;
    border: none;
}