.mainhead {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgb(245, 245, 245);
}

.products {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
    justify-content: center;
}

.product {
    border: 1px solid rgb(230, 230, 230);
    transition: 0.4s;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.product:hover {
    background-color: rgb(225, 225, 225);
    border: 1px solid rgb(200, 200, 200);
    transition: 0.4s;
}

.product:hover span {
    font-weight: bold;
}

.products .product img {
    border: 1.6px solid rgb(100, 100, 100);
    border-radius: 5px;
}

a {
    font-family: Calibri;
    color: rgb(75, 75, 75);
    text-decoration: none;
}